<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="Simulation" class="com.github.themetalone.parking.core.Simulation">
        <constructor-arg name="streetProvider" ref="StreetProvider"/>
        <constructor-arg name="ticks" value="864000"/>
    </bean>

    <bean name="StreetProvider" class="com.github.themetalone.parking.hutchinson.street.HutchinsonStreetProviderImpl">
        <constructor-arg name="streetlength" value="150"/>
        <property name="carProvider" ref="CarProvider"/>
        <property name="parkingSlotProvider" ref="ParkingSpotProvider"/>
    </bean>

    <bean name="CarProvider" class="com.github.themetalone.parking.hutchinson.car.FiniteHutchinsonCarProviderImpl">
        <constructor-arg name="numberOfCars" value="150"/>
        <property name="realDistribution" ref="CarWaitingDistribution"/>
        <property name="heuristicProvider" ref="HeuristicProvider"/>
        <property name="longestParkingTime" value="14400"/>
        <property name="simulationDataCollector" ref="SimulationDataCollector"/>
    </bean>

    <bean name="ParkingSpotProvider" class="com.github.themetalone.parking.core.slot.ParkingSlotProviderImpl">
        <property name="simulationDataCollector" ref="SimulationDataCollector"/>
    </bean>

    <bean name="HeuristicProvider"
          class="com.github.themetalone.parking.core.car.heuristic.SingleMutantHeuristicProvider">
        <property name="mutant" ref="Mutant"/>
        <property name="population" ref="Population"/>
        <property name="providedUntil" value="50"/>
    </bean>

    <bean name="Population" class="com.github.themetalone.parking.core.car.heuristic.DecideAfterNSlotsHeuristic">
        <constructor-arg name="n" value="50"/>
    </bean>
    <bean name="Mutant" class="com.github.themetalone.parking.core.car.heuristic.DecideAfterNSlotsHeuristic">
        <constructor-arg name="n" value="60"/>
    </bean>

    <bean name="CarWaitingDistribution" class="org.apache.commons.math3.distribution.GammaDistribution">
        <constructor-arg name="scale" value="2"/>
        <constructor-arg name="shape" value="601"/>
    </bean>
    <bean name="StreetWaitingDistribution" class="org.apache.commons.math3.distribution.UniformIntegerDistribution">
        <constructor-arg name="lower" value="0"/>
        <constructor-arg name="upper" value="200"/>
    </bean>
    <bean name="SimulationDataCollector" class="com.github.themetalone.parking.core.data.SQLiteSimulationDataCollectorImpl">
        <constructor-arg name="location" value="./simulationData.sqlite"/>
    </bean>

</beans>